# Copyright (c) 2024 MobileCoin Inc.
name: build-and-publish

on:
  push:
    tags:
    - '*.*.*'
  pull_request: {}

env:
  DOCKER_ORG: mobilecoin

jobs:
  docker:
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout
      uses: mobilecoinofficial/gh-actions/checkout@v0

    - name: Build/Publish Image
      uses: mobilecoinofficial/gh-actions/docker@90b484a85e921fd78c596dbafa3225d9ba77b7d4
      with:
        dockerfile: ./Dockerfile
        emulation: 'true'
        flavor: latest=true
        images: mobilecoin/gha-runner
        platforms: linux/amd64,linux/arm64
        password: ${{ secrets.DOCKERHUB_TOKEN }}
        push: ${{ github.event_name == 'pull_request' && 'false' || 'true' }}
        tags: |
          type=semver,pattern={{version}},priority=20
          type=sha,priority=10
        username: ${{ secrets.DOCKERHUB_USERNAME }}
